/* Color */

.color-green {
    color: #449e48;
}

.color-bg-green {
    background-color: #449e48;
}

.color-white {
    color: white;
}
.color-bg-white {
    background-color: white;
}

.color-purple {
    color: #572D86;
}
.color-bg-purple {
    background-color: #572D86;
}

.color-grey {
    color: #607D8B;
}

.color-bg-grey {
    background-color: #607D8B;
}

.color-red {
    color: #c02929;
}
.color-bg-red {
    background-color: #c02929;
}

.color-yellow {
    color: #FBC02D;
}
.color-bg-yellow {
    background-color: #FBC02D;
}



/* Actions */


.revert-image {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
}

.button {
    padding: 0.1rem;
    border-radius: .2rem;
}